body{
  box-sizing: border-box;
  margin: 0;
  background-color: #FFF;
  color: #515151;
  font-family: "actor", sans-serif;
}
.align-right{
  text-align: right;
  padding-right: 2%;
}

#nav-bar {
  grid-area: 1/1/span 1/ span 1;
  align-items: center;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #515151;
  color: #EEE;

}
ul, li{
  list-style: none;
  text-decoration: none;
}
#container{
  width: 100%;
  display: grid;
  grid-template-rows: 300px 200px 200px 200px 200px 200px/auto);
  grid-area: 1/2/span 1/span 1;

}
#container h1, h2, h3, p{
  padding-left: 2%;
}
#banner{
  width: 100%
  height: 300px;
  background-color: #00B4FF;
  color: #FFF;
}

#about{
  background-color: #EEE;
  color: #00B4FF;


}
#featured{
  color: #00B4FF;
}
#logo{
  width: 100%;
  display: grid;
  grid-template: 150px/ repeat(3,200px;);
  justify-content: space-around;
  align-items: center;
}

img{
  width: 200px;
  height: 150px';
}
#hammermill{
  grid-area: 1/1/span / span1 1;
}
#xerox{
  grid-area: 1/ 2/span 1/ span 1;
}
#hp{
  grid-area: 1/ 3/span 1/span 1;
}
#customer{
  background-color: #EEE;
  color: #00B4FF;
}
#customer img{
  float: right;
  position: relative;
  bottom: 40px;
}

#shipping{
  color: #00B4FF;
}

#truck{
  margin-top: 2%;
  width: 400px;
  height: 200px;
}
#truck-text{
  font-size: 1.5em;
  display: none;
  position: relative;
  right: 100px;
  bottom: 180px;
}
#contact{
  border-color: #515151;
  color: #EEE;
}
