body{
  box-sizing: border-box;
  margin: 0;
  background-color: #FFF;
  color: #515151;
  font-family: "actor", sans-serif;
  font-size: 1.25em;
}

.align-right{
  text-align: right;
  padding-right: 2%;
}

ul, li{
  list-style: none;
  text-decoration: none;
}

img{
  width: 200px;
  height: 150px';
}

#container{
  width: 100%;
  display: grid;
  grid-template-rows: 300px 200px 200px 200px 200px/auto);
  grid-area: 1/2/span 1/span 1;

}

#container h1, h2, h3, p{
  padding-left: 2%;
}

#banner{
  font-size: 1.25em;
  padding-top: 2%;
  width: 98%;
  height: 275px;
  background-color: #00B4FF;
  color: #FFF;
}

#about{
  background-color: #EEE;
  color: #00B4FF;
}

#featured{
  font-size: 1.125em;
  color: #00B4FF;
}

#logo{
  margin-bottom: 2%;
  width: 100%;
  display: grid;
  grid-template: 150px/ repeat(3,200px;);
  justify-content: space-around;
  align-items: center;
}
#logo img:hover{
  transform: rotatey(360deg);
  transition: transform 2.5s;
}

#hammermill{
  grid-area: 1/1/span / span1 1;
}
#xerox{
  grid-area: 1/ 2/span 1/ span 1;
}
#hp{
  grid-area: 1/ 3/span 1/span 1;
}

#customer{
  background-color: #EEE;
  color: #00B4FF;
}
#customer img{
  float: right;
  position: relative;
  bottom: 40px;
  right: 50px;
  transition: ease-in 2s;
}
#customer img:hover{
  transform: rotate(3turn);
}
#shipping{
  font-size: 1.125em;
  background-color: #515151;
  color: #00B4FF;
}

#truck{
  margin-top: 5%;
  width: 400px;
  height: 200px;
}
#truck-text{
  position: relative;
  right: 75px;
  bottom: 200px;
  font-weight: bold;
}

button{
  padding: 0;
  width: 200px;
  height: 50px;
  float: right;
  position: relative;
  bottom: 10%;
  right: 42%;
  border: none;
  text-decoration: none;
  font-size: 1.25em;
  background-color: #00B4FF;
  color: #EEE;
}
button:hover {
  background-color: #EEE;
  color: #00B4FF;
}
